:root {
    --primary-color: #002B5B; /* Azul Corporativo */
    --secondary-color: #00E5FF; /* Ciano Moderno para Detalhes */
    --text-color: #333;
    --bg-light: #F4F7F9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'Trebuchet MS', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 95%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container > h3 {
    /* width: 100%; */
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    text-transform: uppercase;
}
.container > h3 span {
    color: var(--secondary-color);
}

/* Logotipo */
.logo {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3rem;
    font-weight: bold;

    /* Cria efeito de duas cores */
    background: linear-gradient(to right, #333 67%, var(--secondary-color) 67%);

    /* Fundo aparece apenas dentro das letras */
    -webkit-background-clip: text;
    background-clip: text;

    /* Deixa letra transparente para aprecer o fundo */
    -webkit-text-fill-color: transparent;
    color: transparent;
}

/* Slogan */
.slogan {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
}

/* Mensagem */
.message {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding-top: 2rem;
}