:root {
    --primary-color: #002B5B; /* Azul Corporativo */
    --secondary-color: #00E5FF; /* Ciano Moderno para Detalhes */
    --text-color: #333;
    --bg-light: #F4F7F9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
}
header > nav {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.container {
    width: 95%;
    max-width: 1100px;
    min-width: 30%;
    margin: auto;
    margin: auto;
    padding: 2rem;
}

h1,
h2 {
    font-family: 'Montserrat', sans-serif;
    color: var(--secondary-color);
}

.hero {
    background: linear-gradient(rgba(0, 43, 91, 0.9), rgba(0, 43, 91, 0.9));
    background-size: cover;
    color: #FFFFFF;
    text-align: center;
    padding: 100px 0;
}

.btn-cta {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}


footer {
    display: flex;
    font-size: 0.8rem;
    width: 100%;
    align-items: center;
    justify-content: center;
}